<!--h2>Usuarios</h2>

<div *ngFor="let usuario of usuarioList">

  <h3>
      {{ usuario.nombre }}
  </h3>

</div-->

<!--header>
  <h2>Cities</h2>
</header-->

<!--section-->
  <!--nav>
    <ul>
      <li><a href="#">London</a></li>
      <li><a href="#">Paris</a></li>
      <li><a href="#">Tokyo</a></li>
    </ul>
  </nav-->
  
  <!--article-->
    <h3>Usuarios</h3>
    <div>
      <label>Criterio:
        <input #criteria />
      </label>
      <!-- (click) passes input value to add() and then clears the input -->
      <!--button (click)="add(usuarioName.value); usuarioName.value=''">
        add
      </button-->
      <button (click)="onSearch(criteria.value)">
        search
      </button>
    </div>
    
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of collection | paginate: config">
            <td>{{ usuario.idUsuario }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.correo }}</td>
            <td>
                <a [routerLink]="['/usuario-detail', usuario.idUsuario]"><img src="images/detail.png" alt="" title="Detalle" border="0" width=16 height=16 /></a>
                <!--a href="<{$receiver}>?do=VerVehiculos&id={{ usuario.idUsuario }}"><img src="images/car.png" alt="" title="Ver Veh&iacute;culos" border=0 width=16 height=16 /></a-->
                <!--a href="<{$receiver}>?do=VerLogs&id={{ usuario.idUsuario }}"><img src="images/log.png" alt="" title="Ver Logs" border=0 width=16 height=16 /></a-->
            </td>
          </tr>
        </tbody>
      </table>
    
      <alert></alert>
      
      <!--pagination-controls (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls-->
      <pagination-controls [autoHide]="true" (pageChange)="pageChange($event)" class="my-pagination"></pagination-controls>
      
  <!--/article-->
<!--/section-->

<!--footer>
  <p>Footer</p>
</footer-->
